@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any custom styles below */

body {
  @apply font-sans;
}

body {
  @apply bg-gray-50;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* For background transitions */
.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-1000 {
  transition-duration: 1000ms;
}